## WK3_Database Clients

### Wk3_i_Setup the Client Project

In [13]:
# Install  mysql-connector
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

In [22]:
#import mysql-connector
import mysql.connector as connector

In [23]:
# Verify that a connection can be made with your database by calling the connection method from the connector class: 
connection = connector.connect(user = "metaadmin", password = "capstone2023", db = "littlelemondb")

### wk3b_ii_Query with Joins

In [24]:
#step1: create a cursor object
# Cursor object points the Python application to the location in the MySQL database, where the required data is stored
cursor = connection.cursor()

In [25]:
#Show tables query
show_tables_query = "SHOW TABLES" 
cursor.execute(show_tables_query)
for row in cursor:
    print(row)

('bookings',)
('contactdetails',)
('customers',)
('delivery',)
('employees',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)

In [28]:
#identify full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.
customer_details_query = """
SELECT Customers.FullName, CONCAT(ContactDetails.Address, ContactDetails.City) AS Address, ContactDetails.Email, ContactDetails.PhoneNumber, Orders.BillAmount 
FROM Customers
INNER JOIN ContactDetails ON Customers.CustomerID = ContactDetails.CustomerID
INNER JOIN Orders ON Orders.CustomerID = Customers.CustomerID
WHERE BillAmount >=60;
"""

cursor.execute(customer_details_query)
result = cursor.fetchall()

cols = cursor.column_names
print(cols)
for row in result:
    print(row)

('FullName', 'Address', 'Email', 'PhoneNumber', 'BillAmount')
('Anna Iversen', 'Bay LaneChicago, Illinois', 'anna@yh.com', '757536375', Decimal('200'))
('Diana Pinto', 'Sage Street, West LoopChicago, Illinois', 'diana@yh.com', '757536374', Decimal('300'))